# 构建目录
build/

# 编译输出
*.exe
*.lib
*.pdb
*.obj
*.ilk
*.exp
*.mod
*.o

# CMake缓存
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# 输出目录
output/

# IDE文件
*.vcxproj
*.vcxproj.filters
*.sln
*.suo
*.user

# 临时文件
*.tmp
*.temp

# 日志文件
*.log

# 系统文件
.DS_Store
lib/OpenBLAS/libopenblas_armv8-r0.3.32.a
lib/OpenBLAS/libopenblas.0.dylib
lib/OpenBLAS/libopenblas_armv8-r0.3.32.dylib
lib/OpenBLAS/libopenblas.a
lib/OpenBLAS/libopenblas.dylib
